
<div class=" mt-4 main  text-primary">
    <!-- Page Heading -->
    <div class="row mb-4 head">
      <div class="col">
        <h1 > Manage Transaction </h1>
        <p> Add new transaction and revisit your recent transaction</p>
      </div>
      <hr>
    </div>
    
    <!-- Transaction Form and Recent Transactions -->
    <div class=" row rows">

        <div class="row row-cols-1 row-cols-md-4 gx-3"  >
          <ng-container *ngFor="let item of transaction">
            <app-transactioncard [transaction]="item"></app-transactioncard>
          </ng-container>

        <!-- Pagination -->
        <!-- <nav class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">Next</a>
            </li>
          </ul>
        </nav>
      </div> -->
      
    </div>
  <!-- </div> -->
  