<!-- <div class="card text-bg-primary m-3 col" style="max-width: 18rem;">
    <div class="card-header"> {{transaction.type}} of {{transaction.amount}}</div>
    <div class="card-body">
      <h5 class="card-title">{{this.categoryName}}</h5>
      <p class="card-text">{{transaction.description}}</p>
    </div>
  </div> -->


  <div class="card " style="width: 18rem; min-height: 12rem;" >
    <div class="card-body">
      <h5 class="card-title text-primary">{{this.categoryName}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{transaction.type}} of {{transaction.amount}}</h6>
      <p class="card-text">{{transaction.description}}</p>
      <hr>
      <h6 class="card-subtitle mb-2 text-body-secondary">createdAt :{{transaction.createdAt| date: 'yyyy-MM-dd'}}</h6>
    </div>
  </div>