.heading{
    color: #0d6efd ;
    font-weight: 800;
    font-size: 5em;
}

.top-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Make sure it's above other elements */
    border-radius: 0; /* Optional: remove rounded corners */
  }