<nav class=" d-none d-md-block bg-primary  sidebar  justify-content-center align-items-center">

    <div class="sidebar-sticky justify-content-center align-items-center">
      <h1 class="text-white">financly</h1>
    
      <ul class="nav flex-column">

        <li class="nav-item"  >
          <a class="nav-link " routerLink='home' routerLinkActive="active" >
            <i class="material-icons">home </i>
            HOME
          </a>
        </li>
        <li class="nav-item" > 
          <a class="nav-link  " routerLink='create'routerLinkActive="active" >
            <i class="material-icons">add </i>
            CREATE
          </a>
        </li>

        <li class="nav-item  " >
          <a class="nav-link " routerLink='/dashboard/transaction' routerLinkActive="active" >
            <i class="material-icons">format_list_bulleted </i>
            TRANSACTIONS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink='/dashboard/budget' routerLinkActive="active">
            <i class="material-icons">attach_money  </i>
            BUDGETS
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link " routerLink='/dashboard/goal' routerLinkActive="active">
            <i class="material-icons">flag_2 </i>
            GOALS
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link " routerLink='account' routerLinkActive="active">
            <i class="material-icons">group</i>
            ACCOUNTS
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main  class="  main-content">
    <router-outlet>

    </router-outlet>
  </main>

    