<nav class="navbar  bg-primary">
    <div class="navigation" id="navbarNav">
        <h1 class="text-white">financly</h1>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink='home'>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink='/dashboard/transaction'>TRANSACTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink='/dashboard/budget'>BUDGETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"routerLink='/dashboard/goal'>GOALS</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet>
 
    </router-outlet>
    
  </div>
